.projects {
    background-color: #132634;
    margin: 0;
    padding: 4rem 2rem;
    display: flex;

    .swiper-container {
        background-color: red;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .slide-img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }

    .swiper-wrapper {
        padding-bottom: 2rem;
    }
}